<section class="edit_section">
  <div>

  </div>
  <article class="edit_wrap">
    <form method="post" action="/noticelist" class="edit_form">
      <div>
        <h4>문의 사항 수정란</h4>
      </div>
      <table>
        <thead>
          <tr>
            <td><input type="text" name="" class="edit_title" placeholder="제목을 적어주세요..."></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="2">
              <textarea name="geul" id="geul" cols="30" rows="10" style="width: 100%;">
작성자 이름 : 
상품 명 :
주문 번호 :
문의 사항 :
              </textarea>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2">
              <input type="submit" class="edit_result" style="float: right;" value="수정">
            </td>
          </tr>
        </tfoot>
      </table>
    </form>

  </article>
</section>