<footer>
  <div class="f_logo">
    <img src="img/hmlogo12.PNG" alt="로고">
    <div class="f_list">
      <ul>
        <li>기업정보</li>
        <li><a href="">H&M 채용정보</a></li>
        <li><a href="">H&M 회사소개</a></li>
        <li><a href="">지속가능성(Sustainability)</a></li>
        <li><a href="">언론</a></li>
        <li><a href="">IR 정보</a></li>
        <li><a href="">Corporate</a></li>
        <li><a href="">governance</a></li>
      </ul>
      <ul>
        <li>고객지원</li>
        <li><a href="/noticelist">공지사항</a></li>
        <li><a href="">내 계정</a></li>
        <li><a href="">매장 찾기</a></li>
        <li><a href="">개인정보처리방침</a></li>
        <li><a href="./Inquiry">문의하기</a></li>
        <li><a href="">기프트 카드</a></li>
        <li><a href="">사기 신고</a></li>
        <li><a href="">Cookie Settings</a></li>
      </ul>
      <ul>
        <li>카데고리</li>
        <li><a href="">여성</a></li>
        <li><a href="">남성</a></li>
        <li><a href="">신생아/유아</a></li>
        <li><a href="">아동</a></li>
        <li><a href="">H&M HOME</a></li>
        <li><a href="">스포츠</a></li>
        <li><a href="">SALE</a></li>
      </ul>
      <ul>
        <li>SNS</li>
        <li><a href="">Instargtram↗ </a> </li>
        <li><a href="">Facebook↗ </a> </li>
        <li><a href="">Youtube↗ </a> </li>
        <li><a href="">Twiter↗ </a> </li>
        <li><a href="">Kakaotalk↗ </a> </li>
      </ul>
    </div>
  </div>
  <div class="f_info">
    <ul>
      <li>법인명 에이치앤엠헤네스 앤 모리츠 주식회사 |</li>
      <li>통신판매업신고번호 : 2022-서울강남-01184 |</li>
      <li>사업자등록 번호: 220-87-83339 |</li>
      <li>대표자 : 아담갈슨,아네타포쿠친스카</li>
    </ul>
  </div>
  <address>
    서울특별시 강남구 영동대로 421, 9층 삼탄빌딩 (대치동) 06182
  </address>
</footer>