<header id="navbar">
  <div id="wrap" class="w160">
    <div class="logo">
      <a href="main">
        <img src="img/hmlogo12.png" alt="" style="width: 75px; height: 45px;">
      </a>
    </div>
    <nav class="main_menu">
      <ul>
        <li><a href="newDress">NEW</a></li>
        <li><a href="men">MEN</a></li>
        <li><a href="">WOMEN</a></li>
        <li><a href="">KIDS</a></li>
        <li><a href="">BABY</a></li>
        <li><a href="">H&MHOME</a></li>
      </ul>
    </nav>
    <nav class="mobile_menu">
      <ul>
        <li><a href="">Cart[0]</a></li>
        <li><a href="">menu</a></li>
      </ul>
    </nav>
    <div class="side_menu">
      <ul>
        <li><a href="">Search</a></li>
        <li><a href="login">Login</a></li>
        <li><a href="">Cart[0]</a></li>
        <li class="jigu"><a href="">KR</a></li>
      </ul>
    </div>
  </div>
</header>
