<section class="board_wrap">
  <div class="title_wrap">
    <div class="accordion">
      <h1>
        <a href="#">
          문의하기
        </a>
      </h1>
      <div class="btn_inquiry">
        <img src="../img/icon_about_toggle_white.png">
      </div>
    </div>
    <div class="hidden">
      <div class="accordion">
        <h1><a href="/noticelist">
            공지사항
          </a>
        </h1>
      </div>
      <div class="accordion">
        <h1><a href="#">
            묻고 답하기
          </a></h1>
      </div>
    </div>
  </div>
  <div class="boardWrite">
    <form method="post" action="/noticewrite">
      <table class="Inquiry" summary>
        <tbody>
          <tr>
            <th scope="row" class="name">Name</th>
            <td colspan="2"><input name="user_name" type="text" class="inq_name" value="" maxlength="50"></td>
          </tr>
          <tr>
            <th scope="row" class="inq_email">Email</th>
            <td class="email_form">
              <input class="inq_email one" type="text" value="" maxlength="10">@
              <input class="inq_email two" type="text" value="" maxlength="10" id="inq_result">
              <select name="email_address" class="email_address" onchange="showValue(this)">
                <option value="selected">- 이메일 선택 -</option>
                <option value="gmail.com">gmail.com</option>
                <option value="naver.com">naver.com</option>
                <option value="daum.com">daum.com</option>
                <option value="nate.com">nate.com</option>
              </select>
            </td>
          </tr>
          <tr>
            <th scope="row" class="inq_category">Category</th>
            <td colspan="2">
              <select name="Category_wrap" class="inq_category selected">
                <option value="1">- 상품 문의 -</option>
                <option value="2">배송 문의</option>
                <option value="3">주문 문의</option>
                <option value="4">기타 문의</option>
              </select>
            </td>
          </tr>
          <tr>
            <th scope="row" class="sub">Subject</th>
            <td colspan="2"><input class="inq_sub" type="text" value="" maxlength="50"></td>
          </tr>
          <tr>
            <th scope="row" class="name">Password</th>
            <td><input class="inq_pw" type="password" value="" maxlength="50"></td>
          </tr>
          <tr>
            <td colspan="3">
              <textarea id="" cols="30" rows="10" class="inq_txt" name="content"></textarea>
            </td>
          </tr>
          <tr>
            <th scope="row" class="file_label">파일 첨부</th>
            <td colspan="2"><input class="inq_file" type="file" value="" maxlength="50"></td>
          </tr>
          <tr>
            <th scope="row" class="file_label">파일 첨부</th>
            <td colspan="2"><input class="inq_file" type="file" value="" maxlength="50"></td>
          </tr>
          <tr>
            <th scope="row" class="file_label">파일 첨부</th>
            <td colspan="2"><input class="inq_file" type="file" value="" maxlength="50"></td>
          </tr>
        </tbody>
      </table>
      <div class="agree_wrap">
        <h4>개인정보 수집 및 이용 동의 *</h4>
        <textarea name="" class="inq_agree" cols="30" rows="10">비미디어컴퍼니 주식회사(이하 “회사”)는 이용자의 개인정보를 매우 중요하게 여기며, 개인정보의 수집, 이용, 제공이 필요한 경우에는 이용자의 동의를 기반으로 하여 이용자의 개인정보 자기결정 권리를 보장합니다. 회사는 정보통신망 이용촉진 및 정보보호 등에 관한 법률, 개인정보 보호법 등 정보통신서비스 제공자가 준수하여야 하는 관련 법령과 개인정보 보호 규정 및 가이드라인을 준수하여 이용자의 개인정보 보호를 위해 최선을 다 하고 있습니다. 본 개인정보처리방침은 회사가 제공하는 매거진비닷컴 및 관련 제반 서비스(모바일 웹 포함)에 적용 됩니다.

        1. 개인정보의 수집 및 이용 목적
         
        (1) 수집하는 개인정보의 항목
         
        1) 회원 가입 시
        - (필수) 이름, ID (E-MAIL), 휴대폰번호, 주소,
         
        2) 상품 구매 시
        - (필수) 주문자 정보 (이름, ID (E-MAIL), 주소, 휴대폰번호), 배송지 정보(이름, ID (E-MAIL), 휴대폰번호, 주소), 결제수단 정보
         
        3) 비회원 상품 구매시
        - (필수) 주문자 정보 (이름, ID (E-MAIL), 주소, 휴대폰번호), 배송지 정보(이름, ID (E-MAIL), 휴대폰번호, 주소), 결제수단 정보
         
        4) 환불
        - 환불계좌정보(은행명, 계좌번호, 예금주)
         
        5) 서비스 이용과정에서 자동으로 생성되는 정보
        - 서비스 이용기록, IP address, 쿠키, 방문일시
         
        6) 고객 분쟁처리 및 상담 진행 시
        - 상담내역
         
        (2) 수집한 개인정보의 이용 목적
         
        1) 개인 식별
        - 이름, ID (E-MAIL), 비밀번호, 휴대폰번호
         
        2) 만 14세 미만 아동 여부 확인
        -  법정대리인의 성명, 전화번호
         
        3) 서비스 제공을 위한 연락 및 안내, 민원 처리
        - 이름, ID, E-MAIL, 휴대폰번호
         
        4) 상품/서비스 구매, 배송
        - 주문자 정보 (이름, ID (E-MAIL), 주소, 휴대폰번호), 배송지 정보(이름, ID (E-MAIL), 휴대폰번호, 주소), 결제수단 정보 등의 정보
         
        5) 이벤트 및 신규서비스 안내, 마케팅(맞춤형 마케팅 포함), 이벤트 경품 배송
        - 이름, ID (E-MAIL), 휴대폰번호, 주소,  쿠키
         
        6) 계좌 환불
        - 환불계좌정보(은행명, 계좌번호, 예금주)
         
        7) 부정이용방지, 비인가 사용 방지, 분쟁조정 해결을 위한 기록보존, 고객 분쟁처리 및 상담 등
        서비스 이용기록, IP address, 쿠키, 방문일시, 상담내역
         
         
         
        2. 개인정보의 보유 및 이용기간
        회사는 원칙적으로 이용자의 개인정보를 회원탈퇴 시 지체 없이 파기합니다. 다만, 회사 내부 방침에 따라 이용자에게 미리 고지하고 동의 받았거나 별도의 법령에서 정한 경우에는 그 기간 동안 안전하게 보관하며, 절대 다른 목적으로 이용하지 않습니다.
         
        (1) 회사 내부 방침에 따라 보관하는 정보는 다음과 같습니다.
        - 비정상적인 회원탈퇴 등으로 인한 피해 예방 : 회원탈퇴 신청 후 5일
        - 임의해지 등을 반복적으로 행하는 등 회사가 제공하는 할인쿠폰, 이벤트 혜택 등의 경제상의 이익을 불∙편법적으로 수취하는 행위 및 명의 도용 등의 불∙편법 행위 차단 : 이름, ID (E-MAIL), 연계정보를 회원 탈퇴 후 6개월
         
        (2) 별도 법령에서 정한 경우는 다음과 같습니다.
         
        1) 통신비밀보호법
        - (목적) 법원의 영장을 받아 수사기관이 요청시 제공
        - (수집항목) 로그기록, IP 등
        - (보유기간) 3개월
        2) 전자상거래 등에서의 소비자 보호에 관한 법률
        - (목적) 소비자의 불만 또는 분쟁처리에 관한 기록
        - (수집항목) 소비자 식별정보, 분쟁처리 기록 등
        - (보유기간) 3년
        - (목적) 대금결제 및 재화 등의 공급에 관한 기록, 계약 또는 청약철회 등에 관한 기록
        - (수집항목) 소비자 식별정보, 계약/청약철회 기록 등
        - (보유기간) 5년
        3) 국세기본법
        - (목적) 국세 부과 제척기간 계산
        - (수집항목) 국세 증빙자료 등
        - (보유기간) 10년
        - (목적) 국세징수권 등 소멸시효 계산
        - (수집항목) 과세표준과 세액의 신고자료 등
        - (보유기간) 5년
        4) 부가가치세법
        - (목적) 장부, 세금계산서, 수입세금계산서, 영수증 등
        - (수집항목) 부가가치세의 과세표준과 세액의 신고자료 등
        - (보유기간) 5년
        5) 전자금융거래법
        - (목적) 장부, 세금계산서, 수입세금계산서, 영수증 등
        - (수집항목) 부가가치세의 과세표준과 세액의 신고자료 등
        - (보유기간) 5년
         
         
        3. 개인정보의 파기절차 및 방법
        이용자의 개인정보는 원칙적으로 개인정보의 이용목적이 달성될 경우 지체 없이 파기합니다. 단, 1년 이상 서비스 이용 기록이 없는 이용자의 정보는 ‘정보통신망 이용촉진 및 정보보호 등에 관한 법률’의 ‘개인정보 유효기간제’ 적용에 따라 휴면계정으로 전환됩니다.
         
        가. 파기절차
        - 이용자의 개인정보는 목적이 달성된 후 별도의 DB로 옮겨져 내부 방침 및 기타 관련 법령에 의한 사유에 따라(보유 및 이용기간 참조) 일정 기간 보관 된 후 파기됩니다.
        - 별도 DB로 옮겨진 개인정보는 법률에 의한 경우를 제외하고는 다른 목적으로 이용되지 않으며 관리자 외 접근을 엄격하게 통제하고 있습니다.
        - 휴면계정 전환 최소 30일 전, 등록된 이메일을 통해 전환 예정 일자를 안내해 드리며, 휴면계정으로 전환을 원하지 않으시는 경우에는 안내 메일을 확인하신 후 로그인 하시면 정상적으로 서비스를 이용하실 수 있습니다.
        - 휴면계정으로 전환된 이용자의 정보는 별도의 DB에 분리 저장되어 안전하게 관리되며, 이렇게 휴면계정으로 전환되었더라도 로그인 후 간단한 휴면 해제 절차를 통해 언제든지 정상적으로 서비스를 이용하실 수 있습니다.
        나. 파기방법
        - 전자적 파일형태로 저장된 개인정보는 재생할 수 없는 안전한 방법을 사용하여 삭제합니다.
        - 종이에 출력된 개인정보는 분쇄기를 통하여 파기합니다.
         
         
        4. 개인정보의 제3자 제공
         
        (1) 회사는 원칙적으로 수집 및 이용목적 범위를 넘어 이용자의 개인정보를 제 3자에게 제공하지 않습니다. 그러나 보다 나은 서비스의 제공을 위하여 이용자의 개인정보를 협력업체 등과 공유할 필요가 있는 경우에는 제공받는 자, 제공 목적, 제공 정보 항목, 이용 및 보유 기간 등을 이용자에게 고지하여 동의를 구합니다. 또한 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우 이용자의 개인정보를 제공할 수 있습니다.
        (2) 회사는 이용자의 개인정보를 회사가 제공하는 인터넷 서비스 외의 용도로 사용하거나 이용자의 동의 없이 제3자에게 제공하지 않습니다. 필요에 의하여 제3자에게 제공할 경우에는 이용자에게 알리고 별도의 동의를 받습니다. 다만, 다음 각호의 경우에는 예외로 합니다.• 회사의 이용약관을 위배하거나 서비스를 이용하여 타인에게 피해를 주거나 미풍양속을 해치는 위법행위를 한 사람 등에게 법적인 조치를 취하기 위해 개인정보를 공개해야 한다고 판단되는 경우
        • 법령의 규정에 의하거나, 수사상의 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구 있는 경우
        • 통계 작성, 학술연구, 시장 조사, 정보 제공 및 공지 안내 메일 발송의 경우로서 특정 개인을 식별할 수 없는 형태로 제공되는 경우
         
         
        5. 개인정보의 취급위탁
        회사는 이용자에게 서비스를 제공하는 데에 반드시 필요한 업무 중 일부를 외부 업체에게 위탁하여 수행하고 있습니다. 회사는 외부업체에게 업무 위탁 시 계약서 등을 통해서 개인정보보호 관련 법규의 준수, 개인정보에 관한 비밀 유지, 제3자 제공에 대한 금지, 사고시의 책임 부담, 위탁기간, 처리 종료 후의 개인정보의 파기 의무 등을 규정하고, 이를 준수하도록 관리감독하고 있습니다.
         
        회사는 서비스 향상과 효과적인 업무처리를 위하여 다음과 같이 개인정보를 처리 위탁하고 있습니다.
         
         
         
        수탁자   수탁 업무
        (주)케이지이니시스, 카카오페이    결제처리
        한국출판물류(주), 위킵㈜ 롯데택배, CJ대한통운, 한진택배     주문상품의 물류 보관 및 배송
        (주)나이스북      정기구독 접수 및 발송 대행
        비미디어컴퍼니는 수탁자들이 위탁한 개인정보를 안전하게 처리하고 있는지 지속적으로 관리 감독 하고 있으며, 수탁업무가 종료된 때에 수탁자가 보유하고 있는 개인정보는 즉시 파기하게 하고 있습니다.
         
         
         
        6. 링크사이트
        회사는 이용자에게 다른 회사의 웹사이트 또는 자료에 대한 링크를 제공할 수 있습니다. 회사가 이용자에게 다른 회사의 웹사이트 또는 자료에 대한 링크를 제공하는 경우, 회사는 외부사이트 및 자료에 대한 아무런 통제권이 없으므로 그로부터 제공받는 서비스나 자료의 유용성에 대해 책임질 수 없으며 보증할 수 없습니다. 회사가 포함하고 있는 링크를 클릭(click)하여 타사이트(site)의 페이지로 옮겨 갈 경우 해당 사이트의 개인정보보호정책은 회사와 무관하므로 새로 방문한 사이트의 정책을 검토해보시기 바랍니다.
         
         
         
        7. 이용자의 권리 및 행사방법
        이용자 및 법정대리인은 아래와 같은 권리를 행사할 수 있습니다.
         
        (1) 이용자 및 법정대리인은 언제든지 등록되어 있는 자신 또는 대리자의 개인정보를 조회하거나 수정할 수 있으며, 회사의 개인정보의 처리에 동의하지 않는 경우 동의를 거부하거나 가입 해지를 요청할 수도 있습니다. 다만, 개인정보의 처리에 대한 동의를 철회하시는 경우 부득이하게 서비스의 일부 또는 전부의 이용이 제한될 수 있습니다.
        (2) 개인정보 열람은 아래와 같은 방법으로 이용하실 수 있습니다.
        - 수집 및 보유 중인 개인정보 조회 : 로그인 후 ‘마이페이지 &gt; 회원정보’를 통해 확인하실 수 있습니다.
        - 개인정보 처리위탁 현황 : 본 개인정보처리방침 중 5. 개인정보의 취급위탁 항목을 통해 확인하실 수 있습니다.
        (3) 개인정보 수정 및 가입 해지(동의 철회)는 아래와 같은 방법으로 이용하실 수 있습니다.
        - 개인정보 수정 : 로그인 후 ‘마이페이지 &gt; 개인정보&gt; 개인정보 수정하기’을 통해 수정하실 수 있습니다.
        - 가입 해지(동의 철회) : 로그인 후 ‘마이페이지 &gt; 1:1문의를 통해 본인 확인 절차 후 직접 탈퇴하실 수 있습니다.
        (4) 혹은 본 개인정보처리방침을 통해 공개하고 있는 개인정보보호책임자에게 서면 또는 전화로 연락하시면 지체 없이 조치하겠습니다.
        (5) 이용자가 개인정보의 오류에 대한 정정을 요청한 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다. 또한 잘못된 개인정보를 제3자에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 지체 없이 통지하여 정정이 이루어지도록 하겠습니다.
        (6) 회사는 이용자의 요청에 의해 해지 또는 삭제된 개인정보는 회사가 수집하는 "개인정보의 보유 및 이용기간"에 명시된 바에 따라 처리하고 그 외의 용도로 열람 또는 이용할 수 없도록 처리하고 있습니다.
        (7) 만 14세 이상인 경우에만 회원가입이 가능하며 개인정보의 수집/이용에 법정대리인의 동의가 필요한 만 14세 미만 아동의 개인정보는 원칙적으로 수집하지 않습니다.
         
         
        8. 이용자의 의무
         
        (1) 이용자는 자신의 개인정보를 보호할 의무가 있으며, 이용자 본인의 부주의 등으로 개인정보가 유출되어 발생한 문제에 대해서는 회사는 일체의 책임을 지지 않습니다.
        (2) 이용자의 개인정보를 최신의 상태로 정확하게 입력하시기 바랍니다. 이용자의 부정확한 정보입력으로 발생하는 문제의 책임은 이용자 본인에게 있으며, 타인의 개인정보를 도용하여 회원가입 또는 서비스 이용 시 회원자격 상실과 함께 개인정보에 관한 법률에 의거하여 처벌될 수 있습니다.
        (3) 이용자는 개인정보를 보호받을 권리와 함께 스스로를 보호하고 타인의 정보를 침해하지 않을 의무도 가지고 있습니다. 아이디, 비밀번호를 포함한 이용자의 개인정보가 유출되지 않도록 조심하시고 게시물을 포함한 타인의 개인정보를 훼손하지 않도록 유의해 주십시오.
        (4) 이용자는 『정보통신망 이용촉진 및 정보보호 등에 관한 법률』, 『개인정보보호법』 등 기타 개인정보에 관한 법률을 준수하여야 합니다.
         
         
        9. 개인정보 자동수집 장치(쿠키 등)의 설치, 운영 및 그 거부에 관한 사항
        개인정보 자동수집 장치의 설치, 운영 및 그 거부에 관한 사항을 알려드립니다.
        회사는 이용자의 정보를 수시로 저장하고 찾아내는 쿠키(cookie) 등을 운용합니다. 쿠키는 웹사이트가 이용자의 컴퓨터 브라우저에 보내는 아주 작은 텍스트 파일로 이용자의 컴퓨터 하드디스크에 저장됩니다.
         
        (1) 쿠키의 사용 목적
        • 회원과 비회원의 접속 빈도나 방문 시간 등의 분석, 이용 형태 및 관심분야 파악, 자취 추적, 각종 이벤트 참여 정도, 방문 횟수 파악 등을 통한 타겟 마케팅 등 개인별 맞춤 서비스를 제공하기 위해 쿠키를 사용합니다.
         
         
        (2) 쿠키의 설치, 운영과 거부
        • 이용자는 쿠키 등 설치에 대한 선택권을 가지고 있으며, 언제든지 이러한 쿠키 등의 저장을 거부하거나 삭제할 수 있습니다.
        • 쿠키의 설정은 웹브라우저별 옵션 선택을 통해 ①모든 쿠키를 허용, ②쿠키가 저장될 때 마다 확인, ③모든 쿠키의 저장을 거부 할 수 있습니다. 이러한 쿠키의 설정 방법은 웹브라우저에 따라 차이가 있으므로, 자세한 사항은 각 브라우저별 도움말을 참고해 주시기 바랍니다.
        - Internet Explorer : 도구 메뉴 선택 &gt; 인터넷 옵션 선택 &gt; 개인정보 탭 클릭 &gt; 개인정보처리 수준 설정
        - Chrome : 설정 메뉴 선택 &gt; 고급 설정 표시 선택 &gt; 개인정보-콘텐츠 설정 선택 &gt; 쿠키 수준 설정
        - firefox : 옵션 메뉴 선택 &gt; 개인정보 선택 &gt; 방문기록-사용자 정의 설정 &gt; 쿠키 수준 설정
        - safari : 환경설정 메뉴 선택 &gt; 개인정보 탭 선택 &gt; 쿠키 및 웹 사이트 데이터 수준 설정
        • 단, 쿠키 등의 저장을 거부하였을 경우에는 개인 맞춤서비스 등 일부 서비스 이용에 어려움이 있을 수 있습니다.’
         
         
        10. 개인정보의 기술적/관리적 보호 대책
        회사는 이용자들의 개인정보를 처리함에 있어 개인정보의 기술적/관리적 보호 대책을 마련하여 정보보호를 위해 노력하고 있습니다.
         
        회사는 이용자들의 개인정보를 처리함에 있어 개인정보가 분실, 도난, 유출, 변조 또는 훼손되지 않도록 안전성 확보를 위하여 다음과 같은 기술적/관리적 보호대책을 강구하고 있습니다.
         
        (1) 비밀번호의 암호화
        • 이용자의 비밀번호는 일방향 암호화하여 저장 및 관리되고 있으며, 개인정보의 확인 및 변경은 비밀번호를 알고 있는 본인에 의해서만 가능합니다. 따라서 이용자의 비밀번호가 타인에게 알려지지 않도록 각별히 주의하시기 바랍니다.
        (2) 해킹 등에 대비한 대책
        • 회사는 해킹이나 바이러스 등 회사 정보통신망 침입에 의한 이용자 개인정보의 분실, 도난, 유출, 변조 또는 훼손 등 피해 방지를 위해 침입탐지 및 침입차단 시스템을 24시간 가동하고 있으며, 만일의 사태에 대비하여 모든 침입탐지 시스템과 침입차단 시스템은 이중화로 구성하여 운영하고 있습니다.
        • 개인정보의 훼손 피해에 대비하여 중요한 데이터를 주기적으로 백업하고 있으며, 백신 프로그램을 이용하여 개인정보나 중요한 데이터의 유출 방지를 위해 노력하고 있습니다.
        • 민감한 개인정보는 정보통신망을 통해 주고받는 과정에서 암호화 통신을 적용하여 개인정보를 안전하게 전송할 수 있도록 하고 있습니다.
        • 이 외에도 보안 시스템 도입 및 전문인력 확충 등 보안성 확보를 위해 지속적으로 노력하고 있습니다.
        (3) 개인정보 처리자의 최소화 및 주기적인 교육
        • 회사의 개인정보 관련 처리자는 담당자로 한정하여 개인정보 처리자를 최소화 하고 있으며, 퇴직 및 직무변경 등 인사이동이 있는 경우 지체 없이 권한을 변경, 말소 하여 개인정보 접근 권한을 통제 하고 있습니다.
        • 개인정보 처리자에 대해 주기적으로 교육을 진행하여 개인정보보호의 중요성을 인식시키고, 안전하게 관리 할 수 있도록 최선의 노력을 다하고 있습니다.
         
         
        11. 개인정보보호 책임자
        회사는 이용자의 개인정보와 관련된 민원을 처리하기 위하여 개인정보 보호책임자와 개인정보보호 담당부서를 지정하고 있습니다.
         
        (1) 서비스 이용 중 발생하는 개인정보와 관련된 민원은 개인정보보호책임자 또는 담당부서로 문의해 주시기 바랍니다. 회사는 문의해 주시는 사항에 대해 신속하게 답변을 드리도록 하겠습니다. 
        개인정보보호책임자 : 김명수
        이메일 : mayson.kim@magazine-b.com
        전화번호 : 02-540-7435
         
         
        (2) 기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.
        • 개인정보침해신고센터 (http://privacy.kisa.or.kr / 국번없이 118)
        • 대검찰청 사이버안전센터 (http:// www.spo.go.kr / 국번없이 1301)
        • 경찰청 사이버안전국 (http://cyberbureau.police.go.kr/index.do / 국번없이 182)
        • 전자거래분쟁조정위원회 (https://www.ecmc.or.kr / 1661-5714)
         
         
        12. 개인정보처리방침의 개정과 그 공지
        현 개인정보처리방침은 정부의 정책 또는 회사의 필요에 의하여 변경될 수 있으며 내용의 추가 및 삭제, 수정이 있을 시에는 시행 7일 전에 홈페이지 또는 이메일을 통해 사전 공지하고, 7일이 경과된 후에 시행됩니다. 다만, 개인정보의 수집•이용 목적, 제3자 제공대상 등 중요한 사항이 추가 및 삭제, 수정되는 경우에는 30일 전에 사전 공지하고, 30일이 경과된 후에 시행됩니다. 또한 회사는 개인정보의 수집 및 활용, 제3자 제공 등 정보통신망 이용촉진 및 정보보호 등에 관한 법률 등 관계법령에 따라 이용자의 별도 동의가 필요한 사항과 관련된 내용이 추가, 변경되는 경우에는 관계법령에 따른 이용자의 별도 동의를 받습니다.
         
        시행일자 : 2019년 07월 15일
         
         
         
         
         
         
        매거진 &lt;B&gt;는 개인정보를 안전하게 취급하는데 최선을 다합니다.
         
        목적 : 매거진 &lt;B&gt; 관련 이벤트 안내, 맞춤형 프로모션 제안, 고객통계분석 등 마케팅 활용 목적
         
        활용 항목 : 이름, 전화번호, 이메일, 주소, 서비스 이용 내역, 서비스 내 구매 및 결제 내역
         
        보유기간 : 회원탈퇴 또는 동의철회 시 지체없이 파기
         
        동의를 거부하시는 경우에도 웹사이트 서비스는 이용 가능합니다. 더 자세한 내용에 대해서는 개인정보처리방침을 참고하시기 바랍니다. </textarea>
        <div class="check_wrap">
          <input type="checkbox" class="agree_check">
          <label>개인정보처리방침 동의*</label>
        </div>
      </div>
      <input type="submit" class="inq_submit" value="작 성 하 기">
    </form>
  </div>
</section>

<script>
  let panelQuestion = document.querySelectorAll('.hidden');
  /* 모든 패널의 active를 제거하고 해당 panel에만 active 추가 */
  let collapseBtn = document.querySelector('.btn_inquiry');

  function closeAll() {
    for (let j = 0; j < panelQuestion.length; j++) {
      panelQuestion[j].classList.toggle('active');
    }
  }
  collapseBtn.addEventListener('click', function () {
    closeAll();
  });

  const showValue = (target) => {
    const value = target.value;
    const text = target.options[target.selectedIndex].text;

    document.querySelector('#inq_result').value = value;
  }

  // for (let i = 0; i < panelQuestion.length; i++) {
  //   panelQuestion[i].addEventListener('click', function () {
  //     closeAll();
  //     this.classList.add('active');
  //   });
  // }
</script>