
  <h1 class="sub1_tit">환영합니다.</h1>
  <table class="sub1_table">
    <tr>
      <td>아이디</td>
      <td><%= data.id %></td>
    </tr>
    <tr>
      <td>이름</td>
      <td><%= data.name %></td>
    </tr>
    <tr>          
      <td>사는 곳</td>
      <td><%= data.address %></td>
    </tr>
  </table>
