<main>
  <section class="section_1">
    <!-- Swiper -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide back_img one"></div>
        <div class="swiper-slide back_img two"></div>
        <div class="swiper-slide back_img three"></div>
      </div>
      <div class="swiper-scrollbar"></div>
      <div class="swiper-pagination current_page"></div>
    </div>
    <article class="banner">
      <span>신규가입시 10% 쿠폰 증정과 5만원 이상 구매시 무료배송으로 상품을 만나 볼 수 있습니다.</span>
    </article>
  </section>
  <section class="lookbook w160">
    <div class="lb_tit">
      <h4> 1) Man Autumn Lookbook 2) Woman Autumn Lookbook</h4>
      <h1><span>1.Casual,</span>
        <span>2. Smart,</span>
        <span>3. Street</span>
      </h1>
    </div>
    <article class="casual_wrap">
      <div class="casual_img one">
        <img src="img/hmcasual1-1.png" alt="">
        <span>루즈 핏의 워크웨어로 데일리 룩을 완성하세요.
          <br>화이트와 크림 컬러를 레이어링하여
          <br>한층 업그레이드된 룩을 연출해보세요. </span>
      </div>
      <div class="casual_img two">
        <img src="img/casual.12.png" alt="">
        <span>칼라가 없는 스타일의 재킷은
          <br>편안한 분위기를 줍니다. 화사한 비니와
          <br>니트웨어로 포인트를 더해보세요. </span>
      </div>
      <div class="casual_img three">
        <img src="img/casual1a.png" alt="">
        <span>
          체크 오버셔츠와 시선을 사로잡는
          <br>럭비 셔츠를 매치하여
          <br>프레피 룩을 연출해 보세요.
        </span>
      </div>
    </article>
  </section>
  <section class="video w160">
    <iframe src="https://www.youtube.com/embed/h76EO_168vE" title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
  </section>
  <section class="newArrivals w160">
    <div class="NA_tit">
      <h4>NewArrivals</h4>
      <h1> <span>1.Men </span> <span>2.Women </span> <span>3.Kids </span> <span>4.Babys </span> <span>5.H&MHome </span>
      </h1>
    </div>
    <article class="NA_img_wrap">
      <div>
        <img src="img/hmgoepprod (7).jpg" alt="">
        <h2>검은 줄무늬 니트</h2>
        <span>￦200,000</span>
      </div>
      <div>
        <img src="img/hmgoepprod (11).jpg" alt="">
        <h2>다크 네이비 자켓</h2>
        <span>￦230,000</span>
      </div>
      <div>
        <img src="img/hmgoepprod (6).jpg" alt="">
        <h2>어머니 가디건</h2>
        <span>￦531,000</span>
      </div>
      <div>
        <img src="img/hmgoepprod (10).jpg" alt="">
        <h2>꺼리우먼 흰 셔츠</h2>
        <span>￦1,000</span>
      </div>
    </article>
  </section>
  <section>
    <div class="home">
      <div class="home_bg">
        <div class="home_txt">
          <h1>홀리데이 파티 아이디어</h1>
          <h4>간편하고 즐겁게 파티를 준비하는 방법.</h4>
          <span>구매하기</span>
        </div>
      </div>
    </div>
    <div class="a_w_img">
      <h1>H&M STUDIO A/W 2022</h1>
      <h1>새로운 컬렉션을 만나보세요!</h1>
    </div>
  </section>
  <section id="news" class="w160">
    <div class="news_tit">
      <h1>
        일요일
        <br>12월 31일
        <br>2022년
      </h1>
    </div>
    <article class="news_wrap">
      <div class="news_one">
        <div class="news_list">
          <h2>
            INSIDE H&M
          </h2>
          <br><br>
          Imagine that: 키즈 이노베이션
          <br>스토리Concept Designer인 Ella
          <br>Soccorsi가 설명하는 바와 같이
          <br>첫 단독 키즈웨어를...
        </div>
        <div class="news_list">
          <h2>
            INSIDE H&M
          </h2>
          <br><br>
          H&M Move, Zlatan Ibrahimović 과
          <br>협력H&M Move는 Zlatan과
          <br>함께하게 되어 매우 기쁩니다.
        </div>
      </div>
      <div class="news_two">
        <div class="news_list">
          <h2>
            INSIDE H&M
          </h2>
          <br><br>
          최고의 아이 방 아이디어를
          <br>위한 가이드 따뜻하고 창의적인
          <br>아이 방만드는 방법...
        </div>
        <div class="news_list">
          <h2>
            INSIDE H&M
          </h2>
          <br><br>
          Brasserie Hennes에 함께 자리하세요
          <br>AW22 트렌드 리포트를 살펴보세요.
        </div>
      </div>
    </article>
  </section>
</main>
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".mySwiper", {
    effect: 'fade',
    scrollbar: {
      el: ".swiper-scrollbar",
      hide: true,
    },
    pagination: {
          el: ".swiper-pagination",
          type: "fraction",
        },
    autoplay: {
      delay: 3000,
    },
  });
</script>