<section id="men">
  <aside class="men nav_wrap ">
    <nav class="men nav_gnb">
      <div class="nav_section">
        <h2 class="nav_tit">기획상품</h2>
        <ul>
          <li class="nav_txt"><a href="#">세일 - 남성의류</a></li>
          <li class="nav_txt"><a href="#">세일 - 남성후디 & 스웨트셔츠</a></li>
          <li class="nav_txt"><a href="#">세일 - 남성 재킷&코트</a></li>
        </ul>
      </div>
      <div class="nav_section">
        <h2 class="nav_tit">신상품</h2>
        <ul>
          <li class="nav_txt"><a href="#">모두보기</a></li>
          <li class="nav_txt"><a href="#">의류</a></li>
          <li class="nav_txt"><a href="#">슈즈&액세서리</a></li>
        </ul>
      </div>
      <div class="nav_section">
        <h2 class="nav_tit">필수아이템</h2>
        <ul>
          <li class="nav_txt"><a href="">코어 컬렉션</a></li>
          <li class="nav_txt"><a href="">THE MAKING</a></li>
          <li class="nav_txt"><a href="">Ways to wear</a></li>
        </ul>
      </div>
      <div class="nav_section">
        <h2 class="nav_tit">Winter Lookbook</h2>
        <ul>
          <li class="nav_txt"><a href="#">Casual looks</a></li>
          <li class="nav_txt"><a href="#">Smart looks</a></li>
          <li class="nav_txt"><a href="#">Street looks</a></li>
        </ul></div>
      <div class="nav_section">
        <h2 class="nav_tit">현재트랜드</h2>
        <ul>
          <li class="nav_txt"><a href="#">메타버스 디자인 스토리</a></li>
          <li class="nav_txt"><a href="#">크리스마스 데이트 룩</a></li>
          <li class="nav_txt"><a href="#">겨울/겨울 맨즈 머스트 해브</a></li>
          <li class="nav_txt"><a href="#">Asia exclusive collection</a></li>
          <li class="nav_txt"><a href="#">Blank Staples 컬렉션</a></li>
          <li class="nav_txt"><a href="#">셋업</a></li>
          <li class="nav_txt"><a href="#">뮤직,무비&로고</a></li>
        </ul>
      </div>
      <div class="nav_section">
        <h2 class="nav_tit">상품별 구매</h2>
        <ul> 
          <li class="nav_txt"><a href="#">모두 보기</a></li>
          <li class="nav_txt"><a href="#">아우터</a></li>
          <li class="nav_txt"><a href="#">후드티&맨투맨</a></li>
          <li class="nav_txt"><a href="#">남성 스웨터&니트,가디건</a></li>
          <li class="nav_txt"><a href="#">팬츠</a></li>
          <li class="nav_txt"><a href="#">티셔츠&탑</a></li>
          <li class="nav_txt"><a href="#">셔츠</a></li>
          <li class="nav_txt"><a href="#">베이직</a></li>
          <li class="nav_txt"><a href="#">자켓&수트</a></li>
          <li class="nav_txt"><a href="#">데님</a></li>
          <li class="nav_txt"><a href="#">스포츠웨어</a></li>
          <li class="nav_txt"><a href="#">액세서리</a></li>
          <li class="nav_txt"><a href="#">프리미엄 셀렉션</a></li>
          <li class="nav_txt"><a href="#">남성 신발</a></li>
          <li class="nav_txt"><a href="#">쇼츠</a></li>
          <li class="nav_txt"><a href="#">나이트웨어&라운지웨어</a></li>
          <li class="nav_txt"><a href="#">언더웨어</a></li>
          <li class="nav_txt"><a href="#">양말</a></li>
          <li class="nav_txt"><a href="#">의류 관리 제품</a></li>
        </ul>
      </div>
      <div class="nav_section">
        <h2 class="nav_tit">지속가능성</h2>
        <ul>
          <li class="nav_txt"><a href="#">H&M의 제품</a></li>
          <li class="nav_txt" ><a href="#">H&M Take Care</a></li>
          <li class="nav_txt"><a href="#">자세히 알아보기</a></li>
        </ul>
      </div>
    </nav>
  </aside>
  <article class="men cont_wrap">
    <div class="cont_gnb w128">
      <div class=""><h1>남 자</h1></div>
      <div class="">
        <img class="men_img" src="img/men_main_content_img(2).jpg" alt="">
      </div>
      <div class="">
        <img class="men_img" src="img/men_main_cont_img.jpg" alt="">
      </div>
      <div class="cont_txt_wrap">
        <div class="cont3 title">
          <h6 class="cont3_txt">남자 옷</h6>
        </div>
        <p>
          H&M의 남성복 컬렉션에서 필요한 모든 최신 스타일을 살펴보세요. 상의와 티셔츠, 편안한 라운지 세트와 속옷을 포함한 일상의 필수 아이템을 모두 만나보실 수 있습니다. 곧 차려입어야 하는 행사가 있나요? H&M의 남자 자켓과 정장을 살펴보고 드레스 코드를 맞추고 세련된 스타일도 연출해 보세요. 남자 바지라면 다양한 기본 색상의 치노, 조거, 카고 스타일이 준비되어 있습니다. 청바지를 찾고 있나요? H&M 남자 청바지는 스키니, 스트레이트, 테이퍼드를 비롯하여 스타일에 맞는 다양한 기본 색상의 치노, 조거, 카고 스타일이 준비되어 있습니다. 청바지를 찾고 있나요? H&M 남자 청바지는 스키니, 스트레이트, 테이퍼드를 비롯하여 스타일에 맞는 다양한 핏을 선보입니다. 세련된 오버사이즈 셔츠 또는 클래식한
        </p>
        <p>자세히 읽어보기</p>
      </div>
    </div>
  </article>
</section>