.fix_title{
  text-align: center;
  margin: 100px 0 ;
}
.fix_wrap {
  padding: 0 4rem;
  margin: 100px auto;
}
.fix_wrap input[type="text"]{
  background-color: rgb(34, 34, 34, 0.5);
  border: 0;
  padding: 10px;
}
.fix_wrap input[type="submit"]{
  padding: 0 20px;
  margin-left: 4.25rem;
}