footer {
  margin: 150px 0 50px;
  text-align: center;
  color: #ffffff;
}

.f_logo {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.f_logo img {
  flex: 0.15;
  width: 150px;
  height: 90px;
}
.f_list {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}
.f_list a {
  line-height: 32px;
  color: inherit;
}
.f_list ul li:first-child{
  margin-bottom: 10px;
}
.f_info ul {
  display: flex;
  justify-content: center;
}
address {
  font-size: 18px;
}


@media (max-width:1024px) {
  .f_logo img{
    display: none;
  }
  address{
    font-size : 14px
  }
}
