

select {
  max-width: 100%;
  height: 3rem;
  outline: 0;
  line-height: 1;
  font-size: 0.75rem;
  background-color: #32435F;
}
.board_wrap {
  padding: 10rem 5rem;
}
.boardWrite {
  width: 50rem;
  margin-top: 3.75rem;
  padding-top: 3.75rem;
  padding-bottom: 24.25rem;
}
.boardWrite tr {
  border-bottom: 1px solid #f2f2f2;
  margin: 1rem;
}
.boardWrite tr td{
  padding: 0.5rem 0;
}
.boardWrite th {
  color: #999;
  width: 17rem;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 1.75rem;
  padding: 0.4rem 0;
  text-align: start;
}
.Inquiry input{
  outline: 0;
  border: 0;
  color: #fff;
  font-size: 1.75rem;
  line-height: 1;
  background-color: #32435F;
}
.title_wrap h1{
  margin-bottom:10px ;
  cursor: pointer;
}

.title_wrap h1 a{
  color: #fff;
}
.btn_inquiry img {
  width: 5rem; height: 3rem;
  position: absolute;
  top: 11rem; right: 5rem;
  cursor: pointer;
}
.email_form {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  line-height: 3;
  color: #fff;
}

.email_form .inq_email {
  width: 35%;
  border: 0;
  font-size: 1.5rem;
  line-height: 1;
}

.email_form .email_address {
  width: 25%;
}

.inq_category {
  width: 100%;
}

.inq_txt {
  outline: 0;
  border: 0;
  width: 50rem;
  height: 30rem;
  background-color: #ccc;
  font-size: 1.75rem;
  font-weight: 600;
}
.agree_wrap{
  margin: 30px 0;
}

.inq_agree{
  width: 50rem; 
  height: 7rem;
  margin: 0.7rem 0;
}
.check_wrap{
  display: flex;
  margin: 0.7rem 0;
}
.check_wrap .agree_check{
  margin-right: 0.7rem ;
}
.inq_submit{
  border: 0;
  margin-top: 1.75rem;
  width: 16rem;
  background-color: #222;
  color: #fff;
  font-size: 1.25rem;
  line-height: 1.5;
  padding: 0.7em 1rem;
  border-radius: 0.3rem;
}

.hidden{
  display: none;
}
.hidden.active{
  display: block;
}