#signUp{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15rem;
  color: #fff;
  font-size: 1.25rem;
}

#signUp h1{
  text-align: center;
}
#signUp label{
  font-weight: 700;
}
#signUp input{  
  outline: 0;
  border: 0;
  border-bottom : 1px solid #f2f2f2;
  padding: 0.7rem 1rem;
  background-color: #32435F;
  color: #fff;
  font-size: 1.25rem;
}
#signUp .join_sub{
  width: 97%;
  padding: 0.7rem;
  background-color: #222;
  border: 0;
  border-radius: 3px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing : 10px;
  text-align: center;
}


