.w128{
  display: block;
  max-width: 1280px;
  width: 100%;
}

#men{
  display: flex;
  align-items: flex-start;
  padding: 6rem;
  color: #ffffff;
}
.men.nav_wrap{
  flex : 0.3;
  padding-right: 3.8rem;
}
.nav_section{
  margin-bottom: 30px;
}
.nav_tit{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}
.men.cont_wrap{
  flex: 1;
  padding-right: 3.8rem;
}
.nav_txt{
  line-height: 24px;
}
.nav_txt a{
  font-size: 16px;
  color: #ffffff;
}
.cont_txt_wrap{
  text-align: center;
}
.cont_txt_wrap>p{
  line-height: 24px;
  margin-bottom: 30px;
}
.cont_gnb div {
  margin-bottom: 50px;
}
.cont3_txt{
  font-size: 3rem;
}

.men_img{
  width: 100%;
}