.w140 {
  max-width: 1440px;
  width: 100%;
  margin: 100px auto;
  background-color: #32435F;
  position: relative;
}

.section_newDress {
  /* background-color: #E1DCD9; */
  display: flex;
  justify-content: space-around;
  position: relative;
  padding: 0.65rem;
  margin: 1.75rem;
}

.darkblue_lie {
  color: #222;
}

.new_title h1{
  text-align: center;
  color: #ccc;
}

.sub_title h1 {
  font-size: 3rem;
}

#cate_side {
  width: 50%;
  height: 5000px;
  padding: 2rem 0.6rem 0;
}
.cate_sticky{
  position: sticky;
  top: 100px; left: 0;
}
.cate_wrap div {
  width: 100%;
  line-height: 4rem;
}

#cate_side h4 {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 5px;
  color: #576c91;
  transition: all 0.7s;
  cursor: pointer;
}

#cate_side h4:hover {
  color: #000;
}

#catalog {
  width: 50%;
  height: 1000px;
  position: relative;
}

.sticky {
  position: relative;
}

.sticky h1 {
  display: block;
  width: 100px;
  height: 30px;
  position: sticky;
  top: 10px;
  left: 500px;
  z-index: 999999;
}
#catalog {
}
.figure_gnb{
  display: flex;
  margin: 30px;
}
.figure_gnb figure{
  width: 100%;
}
.figure_wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.figure_wrap figure{
  padding: 10px;
} 
.figure_wrap img{
  width: calc(100% - 10px);
  border-radius: 5px;
  margin-bottom: 10px;
}
.figure_img{
  position: relative;
}
.figure_img #fix{
  position: absolute;
  bottom: 10px; right: 10px;
}
#fix{
  background-color: #ccc;
  cursor: pointer;
  color: #222;
  border: 0;
  border-radius: 5px;
}
.figure_txt{
  width: calc(100% - 10px);
  border-radius: 5px;
  text-align: center;
  font-size : 20px;
  color : #576c91;
}