.noti{
  font-size: 4rem!important;
}
.noti_table{
  margin: 100px 50px 0;
  text-align: center;
  color: #ddd;
}

.noti_table tr td{
  border-top: 1px solid;
  padding: 20px;
  color: #fff;
}
.noti_table tr th {
  line-height: 2;
}
.bottom_icon{
 padding: 10px;
}
.bottom_icon span{
  cursor: pointer;
  padding-left: 30px;
  padding-right: 20px;
  background-image: url(../img/icon_board_arrow.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 20px;
}
.noti_tb td{
  border-top: 1px solid;
  padding: 20px;
  color: #fff;
}
.noti_cont{
  width: 50%;
}

/* hidden */
.hidden{
  display:none;
}
.hidden.active{
  display: block;
}
.hidden.active h1{
  margin-bottom: 10px;
}

/* accordian */
.accordion_wrap{
  padding:6rem 4rem 0 4rem;
}
.accordion_noti{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.accordion_noti h1{
  margin-bottom: 10px;
}
.accordion_noti h1 a{
  color: #ffffff;
}
.btn_noti img{
  cursor: pointer;
  width: 5rem; height: 3rem;
}
.hidden a{
  color: #ffffff;
}