.read_table{
  margin: 200px auto;
  color : #ffffff;
}
.read_table tr {
  border : 1px solid;
}
.read_table th {
  padding: 10px;
}
.read_table td {
  padding: 20px;
  text-align: center;
}